/* -----index banner start------
.index-banner
  .head
    display: flex
    justify-content: space-around
    align-items: center
  .sub-head
    font-family: Didot
  +mobile
    .banner-title
      .content:not(:last-child)
        margin-bottom: 0.8rem
/* -----index banner end-------
