.core-tech
  .scenarios
    .tab-content .tab-item
      display: none
      &.is-active
        display: block

      & .tab-item-left
        background-color: #ededed
        height: 333px

  .cooperater
    .coop-icons
      display: flex
      justify-content: center
      .coop-img
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 33px 27px
        &:not(:last-child)
          margin-right: 40px
        img
          width: 126px
          height: 34px
      +mobile
        .coop-img
          padding: 28px 20px
          &:not(:last-child)
            margin-right: 20px
